h1 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 1.2em;
}
body {
  background-color: #eeeeee;
  padding: 1em; 
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  max-width: 50em;
  line-height: 1.6;
  margin: .5em 2em;
}
li {
  padding: 0.2em;
}
a {
  color: #834600
}
footer {
  padding-top: 5em;
  font-size: 0.7em;
}
footer img {
  padding-bottom: 0.5em;
}

@media screen and (max-width: 500px) {
  body {
    max-width: 100%;
  }
}

.WavyLetter {
  display: inline-block;
  vertical-align: top;
}